/* global style */
* {
  box-sizing: border-box; }

div.container {
  min-width: 1000px; }

h1.h1, h2.h2, h3.h3, h4.h4, h5.h5, h6.h6 {
  font-family: arial, sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0; }

body {
  overflow-x: hidden;
}
.space-between {
  justify-content: space-between;
}
.wrapper {
  min-width: 1000px;
  margin: 0 auto;
  overflow: auto;
  color: #77787B;
  font-size: 16px;
  font-family: arial, sans-serif;
  overflow: hidden;
}
.main .four-icon a {
  color: #77787B; }
  .main .four-icon a:hover {
    text-decoration: none;
    color: #77787B; }
.no-click {
  pointer-events: none;
}
.no-margin {
  margin: 0!important;
}
.pos-r {
  position: relative;
}
/* header style */
input.nav-input {
  background: #F8F8F8 url(../images/search.png) no-repeat 98% center;
  background-position: 98% center;
  font-family: arial, sans-serif;
  font-size: 16px;
  height: 42px;
  border: none;
  border: 1px solid #ccc;
  border-radius: 0;
  margin-top: 20px;
  padding: 0 15px;
  cursor: inherit;
  position: relative;
  width: 100%;
  transition: .2s;
  z-index: 2; }
  input.nav-input:hover {
    border-color: #1183C6; }

.block-search {
  width: 90%;
  float: right;
  position: relative; }

.main-search .nav-input:focus + ul {display:block}
.main-search .tips-block:hover{display: block}


.tips-block {
  width: 421px;
  background: #fff;
  position: absolute;
  width: 100%;
  top: 62px;
  left: 0;
  padding: 12px 0;
  box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.34);
  z-index: 110;
  display: none;
  line-height: 24px; }
  .tips-block a {
    color: #E61639; }
    .tips-block a:hover {
      text-decoration: none;
      color: #000; }
    .tips-block a:focus {
      text-decoration: none;
      color: #000; }
  .tips-block p {
    padding: 0 12px; }
  .tips-block ul li a {
    padding: 0 12px;
    display: block;
    width: 100%; }
  .tips-block ul li:hover {
    color: #000;
    background: #F4F6F7; }

.tips-block ul li:hover a {
  color: #000; }

.grey-list {
  margin-top: 10px; }

.link-close {
  position: absolute;
  height: 42px;
  width: 35px;
  top: 20px;
  right: 0;
  display: block;
  z-index: 5; }
  .link-close:hover {
    text-decoration: none; }
  .link-close:focus {
    text-decoration: none; }

.active-link-tips {
  color: #E4042A;
  font-family: arial, sans-serif;
  font-weight: 700; }

.dsp-block {
  display: block; }

.dsp-none {
  display: none; }

.fix-width-tips {
  width: 713px;
  left: 490px; }

h1.number-h1 {
  font-size: 25px;
  margin-top: 16px;
  padding-bottom: 4px;
  color: #E4042A; }

.nmb-prg {
  font-size: 14px; }

/* nav menu */
.nav-ul, .bascet {
  position: relative;
  margin-top: 25px; }

.nav-list {
  display: inline-block; }

.nav-link {
  color: #7D7E81;
  font-size: 17px;
  position: relative;
  padding: 10px 15px; }
  .nav-link:hover {
    color: #111111;
    transition: .3s;
    text-decoration: none; }
  .nav-link::after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 15px;
    background: #77787B;
    top: 13px;
    right: -3px; }

a.fix-after::after {
  width: 0;
  height: 0; }

.bascet li {
  display: inline-block; }
  .bascet li a {
    font-family: arial, sans-serif;
    font-size: 13px;
    color: #E4042A;
    display: block;
    position: relative;
    padding: 5px 15px 5px 30px; }
    .bascet li a:hover {
      color: #111;
      text-decoration: none; }

.bascet li a::before {
  content: '';
  display: block;
  width: 47px;
  height: 28px;
  position: absolute;
  background: url("../images/bascet.png") no-repeat;
  left: 5px;
  top: 0px; }
.bascet li a.active {
  color: #000;
}
.bascet li a.active::before {
  background: url("../images/bascet-black.png") no-repeat;
}
.bascet li .heart-icon::before {
  background: url("../images/heart.png") no-repeat; }

.bascet li .heart-icon:hover::before {
  background: url("../images/heart-black.png") no-repeat; }
.bascet li .heart-icon.active:before {
  background: url("../images/heart-black.png") no-repeat; }
.bascet li .heart-icon.active {
  color: #000;
}
.bascet li .bsc-icon:hover::before {
  background: url("../images/bascet-black.png") no-repeat; }

/* end header */
/* Main style */
/* Slider */
.sl {
  margin-top: 20px;
  position: relative; }

div.sl-slide {
  width: 100%;
  height: 500px;
  position: relative; }

.container.delete-padding {
  padding-left: 0;
  padding-right: 0; }

button.slick-prev {
  z-index: 10;
  left: 0px;
  width: 100px;
  height: 100%; }
  button.slick-prev::before {
    content: '';
    display: block;
    width: 100px;
    height: 61px;
    background: url("../images/sl-prev.png") no-repeat 20% 10%; }

button.slick-next {
  z-index: 10;
  right: 0px;
  width: 100px;
  height: 100%; }
  button.slick-next::before {
    content: '';
    display: block;
    width: 100px;
    height: 61px;
    background: url("../images/sl-next.png") no-repeat 80% 10%; }

ul.slick-dots li button:before {
  font-size: 14px; }

ul.slick-dots {
  margin: -10px 0; }

ul.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #ED1A37; }

.red-block {
  background-color: #E4042A;
  width: 510px;
  margin-left: 20px;
  height: 37px;
  line-height: 37px;
  padding-left: 20px;
  position: absolute;
  top: 0; }
  .red-block a {
    color: #fff;
    font-size: 15px;
    padding-right: 10px;
    position: absolute;
    outline: none;
    padding-right: 230px; }
    .red-block a:focus {
      outline: none;
      text-decoration: none;
      color: #000; }
  .red-block span {
    color: #fff; }

.red-block:hover .tile-link {
  color: #000;
  text-decoration: none; }

.after-heart {
  position: relative; }

.heart {
  width: 41px;
  height: 38px;
  position: absolute;
  top: 0px;
  right: 471px;
  display: block;
  cursor: pointer;
  background: url("../images/heart1.png") no-repeat;
  background-position: center; }
  .heart:hover {
    background: url("../images/heart2.png") no-repeat;
    background-position: center; }

.sl-slide:hover .zoom-img {
  opacity: 0; }

.zoom {
  display: inline-block;
  position: relative; }

.zoom img::-moz-selection {
  background-color: transparent; }

.zoom img::selection {
  background-color: transparent; }

.red-block-span {
  padding-left: 228px;
  cursor: pointer; }

.after-heart {
  cursor: pointer; }

.zoom-plus {
  cursor: url("../images/lupa-plus.png"), default; }

.zoom-minus {
  cursor: url("../images/lupa-minus.png"), default;
  /* end slider */
  /* four icon greyred */ }

h2.h2 {
  font-size: 20px;
  margin-top: 30px; }

.icon {
  width: 100%;
  height: 174px;
  margin-top: 0;
  margin-bottom: 30px; }

.catalog {
  background: url("../images/red1.png") no-repeat;
  background-size: 100%;
  background-position: center; }

.icon-link:hover .catalog {
  background: url("../images/grey1.png") no-repeat;
  background-size: 100%;
  background-position: center; }

.sales {
  background: url("../images/red2.png") no-repeat;
  transition: .2s;
  background-size: 100%;
  background-position: center; }

.icon-link:hover .sales {
  background: url("../images/grey2.png") no-repeat;
  background-size: 100%;
  background-position: center; }

.disign {
  background: url("../images/red3.png") no-repeat;
  transition: .2s;
  background-size: 100%;
  background-position: center; }

.icon-link:hover .disign {
  background: url("../images/grey3.png") no-repeat;
  background-size: 100%;
  background-position: center; }

.location {
  background: url("../images/red4.png") no-repeat;
  transition: .2s;
  background-size: 100%;
  background-position: center; }

.icon-link:hover .location {
  background: url("../images/grey4.png") no-repeat;
  background-size: 100%;
  background-position: center; }

/* main text */
.main-text {
  padding: 10px 0 30px; }

h3.h3.main-text-h3 {
  font-size: 20px;
  padding-bottom: 15px; }

.main-prg {
  font-size: 16px;
  width: 90%;
  line-height: 20px;
  padding-bottom: 25px; }

/* footer style */
.footer div.container {
  background-color: #E6E7E8;
  padding-top: 22px;
  padding-bottom: 22px; }

.second-footer-ul {
  padding-left: 30px; }

div ul.footer-ul {
  line-height: 22px;
  font-size: 15px; }
  div ul.footer-ul li a {
    color: #77787B; }
    div ul.footer-ul li a:hover {
      color: #030303;
      text-decoration: none; }

.copyright {
  padding: 25px 0 5px; }

.third-ul-ftr {
  margin-right: 100px; }

/* some style */
body {
  min-width: 1024px !important;
  margin: auto; }

.container-fluid, .container {
  min-width: 1000px !important; }

.del-pdn-left {
  padding-left: 0; }

div div.del-pdn-left {
  padding: 0; }

/* delivery page */
/* header */
.active-link {
  color: #000; }

.btn-line {
  border-bottom: 1px solid #E9EAEB;
  padding-bottom: 10px;
  margin-bottom: 27px; }

h1.h1-dlv {
  font-family: arial, sans-serif;
  padding: 0 0 15px;
  font-size: 24px; }

/* content */
.dlv-paragraph {
  padding-bottom: 25px;
  width: 90%;
  line-height: 24px; }
  .dlv-paragraph a:hover {
    text-decoration: none; }

a span.red-text-dlv {
  color: #E6153E; }

.change-fw {
  font-weight: 700; }

.map-dlv {
  padding-bottom: 30px;
  position: relative; }

.bable {
  width: 335px;
  height: 200px;
  background-color: #fff;
  border: 1px solid #5B626A;
  border-radius: 10px;
  box-shadow: 7px 15px 1px 0px rgba(71, 77, 83, 0.4);
  position: absolute;
  top: -350px;
  right: 100px; }
  .bable::after {
    content: '';
    display: block;
    width: 57px;
    height: 53px;
    position: absolute;
    bottom: -53px;
    left: 20px;
    background: url("../images/bable.png") no-repeat; }

.close-bbl {
  display: block;
  width: 15px;
  height: 15px;
  background: url("../images/cls-bable.png") no-repeat;
  position: absolute;
  top: 7px;
  right: 7px; }

.wrap-bable {
  position: relative;
  display: none; }

.bable {
  padding: 20px; }
  .bable .h2 {
    margin-top: 0px;
    padding-bottom: 15px;
    font-size: 'robotobold'; }

.bbl-p {
  line-height: 33px; }

.bbl-input {
  float: left;
  width: 45px;
  margin-left: 10px;
  text-align: right;
  padding: 5px 5px;
  margin-right: 5px;
  border: none;
  border: 1px solid #dce1e5;
  border-top: 1px solid #B4B8B7; }

.sup-text {
  font-size: 12px; }

.bbl-few-block {
  width: 30%;
  font-size: 15px;
  margin-top: 20px; }
  .bbl-few-block h4 {
    font-family: arial, sans-serif;
    font-family: 900; }

.fix-pdn-bbl {
  width: 40%; }

.italic-text {
  font-style: italic;
  padding-bottom: 8px;
  display: inline-block; }

.price-dlv span:first-child {
  padding-right: 40px; }

.price-ul {
  padding-left: 5px;
  font-size: 14px;
  padding-bottom: 15px; }
  .price-ul li {
    line-height: 22px; }

.dlv-text-pdn {
  padding-bottom: 5px; }

.another-text-dlv {
  line-height: 22px;
  width: 90%;
  padding-bottom: 15px; }
  .another-text-dlv:last-child {
    padding-bottom: 40px; }

.add-more-pdn {
  padding-bottom: 15px; }

/* contacts */
.ymaps-2-1-48-balloon__layout, .ymaps-2-1-48-balloon {
  border-radius: 10px;
}
div.child {
  margin-right: -18px;
  height: 900px;
  margin-bottom: -3px;
  overflow: auto; }

.parent {
  overflow: hidden;
  margin-right: -15px; }

.shadow-btm {
  background: url("../images/shadow.png") no-repeat;
  background-size: contain;
  background-position: center bottom; }

.shadow-top {
  background: url("../images/shadow.png") no-repeat;
  background-size: contain;
  background-position: center top; }

.sidebar-list {
  line-height: 22px;
  font-family: arial, sans-serif; }
.sidebar-list .active {
  background: #f2f2f2;
}
.h3.metro {
  padding-left: 20px;
  margin-top: 5px;
  font-size: 16px;
  padding-bottom: 8px;
  position: relative; }

.metro::before {
  content: '';
  display: block;
  width: 17px;
  height: 11px;
  position: absolute;
  background: url("../images/metro1.png") no-repeat;
  left: 0;
  top: 3px; }

.street {
  padding-bottom: 8px;
  color: #7c7c7b; }

.number {
  font-size: 18px;
  margin-right: 10px;
  color: #474746; }

.work-time {
  font-size: 12px;
  color: #7c7c7b; }

.active .work-time, .active .street  {
  color: #000;
}
.white-green::before {
  background: url("../images/metro2.png") no-repeat; }

.grey::before {
  background: url("../images/metro4.png") no-repeat; }

.orange::before {
  background: url("../images/metro6.png") no-repeat; }

.green::before {
  background: url("../images/metro7.png") no-repeat; }

.blue::before {
  background: url("../images/metro8.png") no-repeat; }

.adress-point {
  padding: 30px 35px 30px 20px;
  transition: .2s;
  border-bottom: 1px solid #E6E7E8; }

.adress-point:last-child {
  padding-bottom: 10px;
  border: none; }

.adress-point:hover {
  background: #f2f2f2;
  color: #000; }

.adress-point:hover p {
  color: #000; }

.adr-link {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #7C7C7B;
  transition: .2s; }
  .adr-link:hover {
    color: #000;
    text-decoration: none; }
  .adr-link:focus {
    text-decoration: none;
    color: #000; }

.map-contact {
  margin-bottom: 15px;
  display: block;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  overflow: hidden;
   }
.map-contact .nav-map {
  width: 328px;

}
#map-wrap {
  width: 100%;
  float: left;
  height: 900px;
}
#map {
  width:calc(100% - 328px);
  height: 900px;
}
.fix-street {
  width: 90%; }

/* many bable */
.kyrska-bable .bable {
  top: -768px;
  right: 130px;
  line-height: 22px;
  height: 164px; }

.paveletska-bable .bable {
  top: -742px;
  right: 158px;
  line-height: 22px;
  height: 160px; }

.babireva-bable .bable {
  top: -946px;
  right: 180px;
  line-height: 22px;
  height: 160px; }

.profsousna-bable .bable {
  line-height: 22px;
  height: 180px;
  top: 304px;
  right: 670px; }

.rechnoi-bable .bable {
  line-height: 22px;
  height: 180px;
  top: 313px;
  right: 673px; }

.strogino-bable .bable {
  line-height: 22px;
  height: 160px;
  top: 229px;
  right: 486px; }

.profsousna-bable-1 .bable {
  line-height: 22px;
  height: 180px;
  top: 304px;
  right: 670px; }

.profsousna-bable-2 .bable {
  line-height: 22px;
  height: 180px;
  top: 304px;
  right: 670px; }

.wrap-bable div .work-time {
  margin-top: 2px; }


/* search page */

.search {
  overflow: hidden;
}
.search:afetr {
  display: block;
  content: '';
  clear: both;
}
.search .row {
  margin: 20px 0;
}
.search .row {
    max-width: 900px;
}
.search .col-md-2 {
  padding: 0;
}
.search .appointment-wrap {
  margin-bottom: 45px;
}
.search .color {
  margin-bottom: 53px;
}
.search .color .jq-selectbox__select, .search .color .jq-selectbox__dropdown {
  width: 190px;
}
.search .price, .search .surface {
  margin-bottom: 45px;
}
.search .material {
  margin-bottom: 62px;
}
.search .design-wrap {
  margin-bottom: 14px;
}
.search .manufacturer {
  padding-bottom: 20px;
}
.format-wrap{
  margin-bottom: 37px;
}
.search .format-wrap  .row:last-child{
  margin-bottom: 0;
}
.search .format-wrap  .row:first-child{
  margin-top: 0;
}
.search .design-wrap .title, .search .price .title, .search .surface .title, .search .material .title, .search .format-wrap .title  {
  padding: 2px 0;
}
.search .price {
  margin-bottom: 48px;
}
.design-wrap .vertical-line {
  border-left: 1px solid #c1c1c1;
  margin: 3px 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.format-wrap .vertical-line {
  border-left: 1px solid #c1c1c1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: left;
  margin-bottom: 19px;
}
.format-wrap .vertical-line input {
  margin: 0 0 0 20px;
  display: block;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
}
.search .manufacturer .title{
  padding: 7px 0;
}
.manufacturer, .format-wrap, .design-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.search .format {
  margin: 0 7px 18px 0;
}
.search label:hover .jq-checkbox {
  border-color: #1183c6;
}
.search .jq-checkbox {
  cursor: default;
}
.search label {
  margin: 0 27px 0 0;
}
.search .left-shift {
  margin-left: -15px;
}
.appointment label {
  padding: 13px 13px;
  border: 1px solid #aaaaaa;
  margin: 0;
  color: #7c7c7b;
  float: left;
  margin-right: -1px;
}
.appointment label:first-child {
  border-radius: 2px 0 0 2px;
}
.appointment label:last-child {
  border-radius: 0 2px 2px ;
}
.appointment .active {
  background: #e0ded8;
  border-color: #848484;
  box-shadow: inset 0 0 3px #848484;
  color: #000; 
}
.appointment label:hover {
  border-color: #1183c6;
  position: relative;
  z-index: 100;
  color: #000;
}
.search .top-reset {
  margin: 25px 0 0;
}
.search .title {
  padding: 15px 0;
  display: block;
}
.search input[type='reset']{
  border: none;
  background: none;
  color: #e4042a;
  border-bottom: 1px dotted #e4042a;
  padding: 0;
  font-size: 18px;
}
.search input[type='reset']:hover {
  border-color: #000;
  color: #000;
}
.search button[name='submit'] {
  border: none;
  background: #e4042a;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  margin: 0 33px 65px 15px;
  border-radius: 4px;
  cursor: default;
}
.search button[name='submit']:hover {
  background: #e4042a;
  color: #000;
}
.search button[name='submit']:active {
  background: #c20021;
  color: #000;
}
.search input[type='button']{
   border: none;
  background: none;
  color: #e4042a;
  border-bottom: 1px dotted #e4042a;
  padding: 0;
  font-size: 18px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
}
.search input[type='button']:hover {
  border-color: #000;
  color: #000;
}
.search .design-wrap div div{
  float: left;
}
.search .design-wrap div div div {
  float: none;
}
.search .design {
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 28px;
}
.manufacturer .col-md-10 {
  padding-left: 0;
}
.manufacturer div .col-md-3 {
  padding: 0;
  width: 33%;
}
.manufacturer .left-shift {
  width: 46%;
}

.design-wrap input[type='button']{
  margin: 0 0 0 17px;
}
#choos-manufacturer {
  overflow: hidden;
  padding: 0 19px;
  position: absolute;
  top: -7px;
  width: 670px;
  height: auto;
  max-height: 0;
  background: #fff;
  box-shadow: 0 9px 8px 0 #ccc;
  z-index: 100;
  transition: max-height ease 1s;
}
.manufacturer ul {
  width: 33%;
  float: left;
}
#choos-manufacturer .jq-checkbox {
  margin-left: -28px;
}
.manufacturer li{
  margin-left: 22px;
  padding-left: 28px;
  width: 100%;
}
.manufacturer label {
  margin-bottom: 12px;
  font-size: 18px;
}
.manufacturer .manu-country {
  color: #e4042a;
  margin-bottom: 15px;
}
#choos-manufacturer .manu-country .jq-checkbox {
  margin-left: 0;
}
.search .manufacturer .more-btn {
  margin: 0 13px 4px 7px;
  padding: 11px 16px;
  color: #fff;
  background: #e4042a;
}
.search .manufacturer .more-btn.cancel {
  background: #929292;
  border-color: #929292;
}
.manufacturer .manufacturer-list {
  padding: 0;
}
.manufacturer-list ul {
  float: left;
}
.manufacturer-list ul li {
  margin: 0 0 5px;
  font-size: 12px;
}



.manufacturer .vertical-line {
  float: left;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  border-left: 1px solid #c1c1c1;
}
.manufacturer .vertical-line input {
  margin: 0 0 0 20px;
}

.search .format-wrap .row {
  margin: 0;
}
.horizontal-line {
  display: block;
  height: 5px;
  background: url(../images/search-bottom-line.png) repeat-x;
  width: 100%;
}



/*  Catalog-page style  */
/* Фиксированное меню */
.headhesive {
  position: fixed;
  -webkit-transform: translateY(-500%);
  -ms-transform: translateY(-500%);
  transform: translateY(-500%);
  transition: .5s;
  background: #fff;
  width: 100%;
  z-index: 110;
  box-shadow: 0 0 25px -5px #000;
  font-family: Arial;
}
.headhesive .btn-line {
   float: right;
    margin-bottom: 27px;
    padding-bottom: 10px;
    width: 12%;
    border: none;
    margin-bottom: 15px;
}
.headhesive .bascet li a {
  padding-right: 0;
}
.headhesive .bascet li:last-child  a {
  padding-right: 15px;
}
.headhesive .search-options-2 .count-elem {
  padding: 0;
}
.headhesive .search-options, .headhesive .search-link, .headhesive .nav {
  display: none;
}
.headhesive .btn-line .col-md-3 {
  width: 100%;
}
.headhesive--stick {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.headhesive .sort-two-item, .headhesive .sort-one-item {
  margin-bottom: -4px;
}


.fix-menu-param {
  display: none;
}
.headhesive .fix-menu-param {
  display: block;
  width: 62.5%;
  float: left;
}
.headhesive .fix-menu-param span {
  font-size: 16px;
  color: #7c7c7b;
  margin-right: 10px;
}
.headhesive .fix-menu-param a {
  color: #e4042a;
  font-size: 12px;
}
.headhesive .fix-menu-param a:hover {
  color: #000;
}
.headhesive b {
  font-size: 16px;
}
.search-options label:hover {
  color: #000;
  border-color: #aaaaaa;
}
.search-options .d-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.search-options, .search-options-2 {
  max-width: 1000px;
}
.search-options {
  margin: 0 0 16px;
}
.search-options-2 {
  margin: 0 0 16px;
}
.search-options-2 .order-wrap {
  display: inline-block;
  padding: 10px 0 0
}
.search-options-2 span {
  display: inline-block;
}
.search-options-2 b {
  font-size: 25px;
  color: #7c7c7b;
  margin-right: 7px;
}
.search-options-2 b.active {
  color: #000;
}
.search-options-2 .design-elem {
  display: inline-block;
   font-size: 25px;
  color: #7c7c7b;
}
.search-options-2 .count-elem {
  display: inline-block;
   font-size: 25px;
  color: #7c7c7b;
  padding-left: 15px;
}
.search-options-2 .count-elem.active, .search-options-2 .design-elem.active {
  color: #000;
}
.search-options-2 .count-elem:hover, .search-options-2 .design-elem:hover {
  color: #000;
}
.search-options-2 .count-elem:focus {
  text-decoration: none;
}
.sort-two-item {
  display: inline-block;
  width: 20px;
  height: 15px;
  margin: 0 4px -1px 0;
  background: url(../images/order-four.png) no-repeat;
}
.sort-two-item:hover {
  background: url(../images/order-four-active.png) no-repeat;
}
.sort-two-item.active {
  background: url(../images/order-four-active.png) no-repeat;
}
.sort-one-item {
  display: inline-block;
  width: 20px;
  height: 15px;
  margin: 0 4px -1px 0;
  background: url(../images/order-one.png) no-repeat;
}
.sort-one-item:hover {
  background: url(../images/order-one-active.png) no-repeat;
}
.sort-one-item.active {
  display: inline-block;
  width: 20px;
  height: 15px;
  background: url(../images/order-one-active.png) no-repeat;
}
.search-options-2 a:hover {
  text-decoration: none;
}
.search-options-2 .search-link {
  color: #e61538;
  float: right;
}
.search-options-2 .search-link:hover {
  color: #000;
}
.search-options-2 .search-link i {
  float: right;
  display: block;
  width: 18px;
  height: 16px;
  margin-left: 5px;
  background: url(../images/arrow-22.png) no-repeat 0 4px;
}
.search-options-2 .search-link:hover i {
  background: url(../images/arrow-23.png) no-repeat 0 4px;
}
.design .jq-selectbox li, .price .jq-selectbox li {
  padding-left: 10px;
}
.design .jq-selectbox__select .jq-selectbox__select-text , .price .jq-selectbox__select .jq-selectbox__select-text{
  padding-left: 10px;
}
.design .jq-selectbox li::before, .price .jq-selectbox li::before {
  display: none;
}
.design .jq-selectbox__select .jq-selectbox__select-text:before, .price .jq-selectbox__select .jq-selectbox__select-text:before {
  display: none;
}
.price .jq-selectbox__select, .price .jq-selectbox__dropdown, .search-options .price .jq-selectbox{
  width: 155px;
}
.design .jq-selectbox__select, .design .jq-selectbox__dropdown, .search-options .design .jq-selectbox{
  width: 172px;
}
.color .jq-selectbox__select, .color .jq-selectbox__dropdown, .search-options .color .jq-selectbox{
  width: 172px;
}


.headhesive .design-elem, .headhesive .count-elem {
  font-size: 16px;
}
.headhesive .order-wrap {
  padding: 0;
  padding-bottom: 10px;
}
.headhesive .col-md-12 {
  width: 91%;
}
.headhesive .bascet {
  margin-top: 10px;
}
.headhesive .search-options-2 {
  padding-top: 15px;
  margin: 0;
}
.headhesive .search-options-2 .d-flex {
  padding: 0;
}
.headhesive .btn-line {
  margin-bottom: 0;
}


.catalog-page .row {
  margin-bottom: 20px;
  padding: 0 5px;
}
.catalog-page .product-item, .favorite .product-item{
  display: block;
  overflow: hidden;
}
.catalog-page a:hover, .catalog-page a:focus, .favorite a:hover, .favorite a:focus{
  text-decoration: none;
}
.catalog-page a:hover .red-block strong, .favorite a:hover .red-block strong, .item-page a:hover .red-block strong {
  color: #000;
}
.catalog-page .col-md-6, .catalog-page .col-md-4 {
  padding: 0 10px;
  position: relative;
}

.catalog-page img, .favorite img, .item-page img {
  width: 100%;
  vertical-align: bottom;
}
.catalog-page .red-block, .favorite .red-block, .item-page .red-block {
  position: relative;
  margin-left: 0;
  padding-left: 5px;
  font-size: 14px;
  width: auto;
  background:none;
  color: #7c7c7b;
  border: 1px solid #c3c3c3;
  border-width: 0 1px 1px;
  height: 41px;
  overflow: hidden;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: unset;
}
.catalog-page .red-block p, .favorite .red-block p, .item-page .red-block p {
  width: 75%;
}
.catalog-page .red-block span, .favorite .red-block span, .item-page .red-block p {
  color: #7c7c7b;
  position: static;
  padding: 0;
  display: inline-block;
}
.catalog-page .red-block strong, .favorite .red-block strong, .item-page .red-block strong {
  color: #e4042a;
  padding: 0;
  position: static;
}
.catalog-page .red-block:hover .tile-link{
  text-decoration: none;
}
.catalog-page .red-block
.catalog-page .product-item{
  position: relative;
}
.heart-red {
  position: absolute;
  width: 10%;
  bottom: 2px;
  right: 18px;
  top: auto;
  width: 25px;
  float: right;
  height: 38px;
  background: url(../images/heart3.png) no-repeat 0 9px;
}
.heart-red:hover {
  background: url(../images/heart4.png) no-repeat 0 9px;
}
.more-btn, .catalog-page-2 .more-btn {
  background: #e4042a none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    cursor: default;
    font-size: 18px;
    display: inline-block;
    margin: 0 33px 45px 15px;
    padding: 10px 20px;
    border-top: 1px solid #f8bcc6;
    border-right: 1px solid #f17a8e;
}
.more-btn:hover, .catalog-page-2 .more-btn:hover {
  background: #e4042a;
  color: #000;
  text-decoration: none;
}
.more-btn:active,.catalog-page-2 .more-btn:active {
  background: #c20021;
  color: #000;
  border-top-color: #efbbc4;
  border-right-color: #db697c;
} 



/* result-element стили */
.result-element a:hover {
  text-decoration: none;
}
.result-element .row {
  margin-right: -40px;
}
.result-element .tile-item, .favorite .tile-item, .item-page .tile-item {
  display: block;
  font-size: 13px;
  color: #7c7c7b;
  margin-right: 14px;
  padding-bottom: 14px;
  margin-bottom: 23px;
  overflow: hidden;
}
.tile-item:hover strong{
  color: #000;
}
.result-element .d-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  
  -webkit-flex-wrap: wrap;
  
      -ms-flex-wrap: wrap;
  
          flex-wrap: wrap;
}
.tile-item img {
  margin-bottom: 8px;
}

.tile-item strong {
  display: block;
  width: 100%;
  margin-bottom: 6px;
}
.tile-item span {
  float: left;
  margin-right: 5px;
}
.tile-item .heart-red {
  position: relative;
  height: 16px;
  background-position: 0;
  background-size: 70%;
  float: left;
  right: 0;
  bottom: 0;
}
.result-element .heart-red:hover .tile-item{
  color: none;
  background-size: 70%;
}
.result-element .more-btn {
  margin-top: 20px;
}


/* catalog-2.html style */
.catalog-page-2 a {
  display: inline-block;
  overflow: hidden;
  float: left;
  margin-bottom: 15px;
  color: #e4042a;
}
.catalog-page-2 .row {
  border-bottom: 1px solid #e6e7e8;
  margin-bottom: 30px;
}
.catalog-page-2 .row:nth-last-child(2), .catalog-page-2 .row:last-child {
  border-bottom: none;
}
.catalog-page-2 .design-item a:hover ~ .description a {
  color: #000;
}
.catalog-page-2 .description .heart-red {
  background-size: 100% auto;
    height: 33px;
    margin-top: -12px;
    position: static;
}
.catalog-page-2 .description {
  padding-left: 0;
}
.catalog-page-2 a:hover h2 {
  color: #000;
}
.catalog-page-2 h2 {
  margin-right: 24px;
  margin-bottom: 40px;
  letter-spacing: 1px;
}
.catalog-page-2 .design-item img {
  width: 100%;
}
.catalog-page-2 .design-item span {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  float: left;
}
.catalog-page-2 b {
  font-size: 19px;
}
.catalog-page-2 .tile-item {
  margin-right: 20px;
}
.catalog-page-2 .description span {
  font-size: 14px;
}
.catalog-page-2 .design-item strong {
  float: left;
  margin-bottom: 23px;
}
.catalog-page-2 .five-more {
  text-decoration: underline dotted;
  margin-top: 40px;
  position: relative;
  overflow: visible;
  cursor: pointer;
  padding: 0 27px;
  font-size: 14px;
  line-height: 1.5em;
}
.catalog-page-2 .five-more:hover {
  text-decoration: underline dotted;
  color: #000;
}
.catalog-page-2 .five-more:focus {
  color: #e4042a;
}

.five-more.text-center.active::before {
    background: rgba(0, 0, 0, 0) url("../images/arrow-down.png") no-repeat 0 0;
    content: "";
    display: block;
    height: 20px;
    position: absolute;
    top: 135%;
    left: 48%;
    width: 12px;
}
.catalog-page-2 .five-more.active:after {
  display: block;
  content: "";
  width: 0;
  position: absolute;
  left: 50%;
  height: 200px;
  top: 200%;
  border-left: 1px dashed #b2b2b2;
}
.catalog-page-2 .more-five-section {
  display: none;  
  border: 1px dashed #b2b2b2;
  padding-top: 14px;
  background: #fff;
  margin-bottom: 30px;
  max-width: 83.3333%;
  width: auto;
}
.more-five-section .tile-item {
  margin-bottom: 0;
  margin-right: 39px;
}
.more-five-section .d-flex {
  margin-right: -35px;
  background: none;
}
.catalog-page-2 .more-btn {
  float: none;
}


/* favorite  styles*/
.favorite .d-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.favorite .row:last-child {
  margin-bottom: 40px;
}
.favorite .col-md-7 {
  padding-right: 5px;
  margin-top: -10px;
}
.favorite .margin {
  margin-right: -53px;
}
.favorite h1 {
  font-size: 25px;
}
.favorite h2 {
  font-size: 19px;
  margin-bottom: 16px;
}
.this-list-link, .reset-list {
  display: inline-block;
  overflow: hidden;
  padding-bottom: 8px;
  float: right;
  border: 1px solid rgba(255,255,255,.0);
}
.this-list-link:hover, .reset-list:hover {
border-color: #e7f2f9;
}
.this-list-link a, .reset-list a {
  padding: 14px 0 5px;
  display: block;
  color: #e61538;
  margin: 0 10px;
  border-bottom: 1px dotted #e61538;
}
.favorite .tile-item, .item-page .tile-item {
  margin-bottom: 0;
  padding-bottom: 5px;
  margin-right: 36.5px;
}
.favorite .heart-red {
  background-image: url(../images/heart4.png);
}
.add-to-cart {
  display: inline-block;
  padding: 10px 15px;
  background: #e61538;
  border-radius: 2px;
  color: #fff;
  margin-bottom: 45px;
}
.add-to-cart:hover {
  color: #000;
}
.add-to-cart:active {
  background: #c20021;
}
.favorite .product-item{
  position: relative;
}
.product-item-wrap {
  position: relative;
  width: 32%;
  margin-bottom: 23px;
}


/* item-page style */
.search-back-wrap {
  margin-bottom: 15px;
}
.search-back {
  color: #e4042a;
  padding-left: 10px;
  position: relative;
}
.search-back:hover {
  color: #000;
}
.search-back i {
  background: url(../images/arrow-22.png) no-repeat;
  position: absolute;
  width: 19px;
  height: 8px;
  transform: rotate(180deg);
  left: -15px;
  top: 6px;
}
.search-back:hover i {
  background-image: url(../images/arrow-23.png);
}
.item-page .d-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.item-page img {
  width: 100%;
}
.item-page h1 {
  display: inline-block;
  float: left;
  font-size: 24px;
  margin-right: 10px;
  margin-bottom: 24px;
}
.item-page .tab-content .heart-red {
  position: static;
  height: 24px;
  background-position: 0 2px;
  float: left;
}
.item-page .tab-content span {
  font-size: 14px;
  display: inline-block;
  margin-bottom: 5px;
}
.item-page .tab-content strong {
  font-size: 18px;
  display: inline-block;
  margin-bottom: 20px;
}
.item-page .tile-item strong {
  font-size: 13px;
  margin-bottom: 5px;
}
.item-page .tab-content p {
  display: inline-block;
  margin-bottom: 10px;
}
.item-page .discount i {
  position: relative;
  color: #fff;
  display: inline-block;
  padding: 17px 27px 17px 57px;
  position: relative;
  z-index: 100;
  margin-bottom: 20px;
  font-weight: bold;
}
.item-page .discount i:before {
  position: absolute;
  content: "";
  background: url(../images/discount-icon.png) no-repeat;
  width: 126px;
  height: 63px;
  left: 0;
  top: 0;
  z-index: -1;
} 
.item-page .discount span {
  color: #e4042a;
  font-size: 16px;
}
.item-page .nav-tabs > li > a {
  border-right: 0;
  color: #c20021;;
}
.item-page .nav-tabs > li.active > a {
  color: #7c7c7b;
  border: 0px solid;
}
.item-page .nav-tabs > li.active a:hover, .item-page .nav-tabs > li.active a:focus {
  border: 0;
}
.item-page .nav-tabs > li > a:hover, .item-page .nav-tabs > li > a:focus {
  background: none;
  color: #000;
  border-color: rgba(255,255,255,0);
}
.item-page .nav-tabs {
  border: none;
}
.item-page .tile-item img {
  width: auto;
}
.item-page .tile-item .about strong{
 display: block;
}
.item-page h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.item-page li a {
  color: #e4042a;
}
.item-page li a:hover {
  color: #000;
}
.item-page .question-block-wrap li {
  font-size: 16px;
  margin-bottom: 10px;
  background: url(../images/li-bullet.jpg) no-repeat 3px 7px;
  padding-left: 20px;
}
.item-page .where-buy li {
  background-image: url(../images/li-bullet-red.jpg);
}
.item-page #map {
  width: 100%;
  height: 281px;
}
.question-block ul {
  padding: 20px 17px;
  background: #f2f2f2;
}
.question-block .col-md-12 {
}
.question-block li {
  margin-bottom: 8px;
}
.question-block li:nth-child(even) {
  margin-bottom: 20px;
}
.item-page .btn {
  background: #7c7c7b;
  margin-left: 20px;
  color: #fff;
}
.question-block-wrap {
  margin-bottom: 30px;
}
.about-fabric p {
  margin-bottom: 20px;
}
.item-page .about-fabric a {
  color: #e4042a;
}
.item-page .about-fabric a:hover {
  color: #000;
}
.item-page .video-container {
  margin-bottom: 30px;
}

.item-page .red-block .heart-red {
  
}
.item-page .red-block {
}
.item-page .red-block span {
  padding-left: 0;
  display: inline-block;
  color: #7c7c7b;
}
.item-page .red-block p {
  margin-bottom: 0;
}
.item-page .similar-collections .d-flex {
 -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  }
.similar-collections {
  margin-bottom: 10px;
}


/* modal */
.modal-dialog .modal-content {
  border-radius: 0;
}
.modal-dialog.big {
  width: 96%;
  min-width: 960px;
}
.modal-content button.close {
  opacity: 1;
  margin-top: 15px;
}
button.close:hover {
  opacity: 1;
}
button.close span {
  background: url(../images/modal-close.png) no-repeat;
  display: block;
  width: 19px
}
button.close:hover span {
  background-image: url(../images/modal-close-black.png);
}
.modal-content h4 {
  font-size: 30px;
  line-height: 1.2em
}
.modal-content h5{
  margin-bottom: 15px;
}
.add-wrap {
  position: relative;
}
.add-to-cart-block {
  position: absolute;
  top: 0;
  background: #fff;
  padding: 0 8px 0 27px;
  box-shadow: 0 1px 6px 0;
  width: 260px;
  max-height: 0;
  overflow: hidden;
  z-index: 30;
}
.add-to-cart-block .close {
  width: 18px;
  height: 18px;
  margin-top: 7px;
  background: url(../images/modal-close.png) no-repeat right 0;
  background-size: 70%;
  opacity: 1;
}
.add-to-cart-block .close:hover {
  background-image: url(../images/modal-close-black.png);
  opacity: 1;
}
.add-to-cart-block strong {
  width: 100%;
  display: block;
  padding-top: 28px;
  margin-bottom: 18px;
}
.add-to-cart-block input {
  width: 63px;
  padding: 12px 4px;
  border-color: #83a8bc #9fc5dc #9fc5dc;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 8px 22px -24px #000 inset;
  float: left;
  margin-top: -2px;
  margin-right: 5px;
}
.add-to-cart-block .count-result {
  float: none;
  text-align: right;
}
.add-to-cart-block .count-result[disabled]{
  background: #fff;
}
.add-to-cart-block p {
  margin-bottom: 19px;
}
.add-to-cart-block sup {
  font-size: 10px;
}
.add-to-cart-block .row {
  margin-bottom: 27px;
}
.add-to-cart-block .more-btn {
  margin: 0 11px 0 0;
  padding: 10px 9px;
}
.add-to-cart-block i{
  width: 100%;
  display: block;
  float: left;
  font-size: 13px;
  margin-bottom: 10px;
}
.add-to-cart-block span {
  font-size: 13px;
}
.add-to-cart-block .heart-red {
  right: auto;
  margin-left: 6px;
  margin-top: 5px;
}
.modal-content .modal-header {
  padding-bottom: 0;
  padding-top: 5px;
  border-bottom: 0;
}
#thumbnail {
  margin-bottom: 14px;
}
.modal-dialog table {
  margin-bottom: 15px;
}
.modal-dialog tr {
    padding: 2.5px 0;
    display: block;
}
.modal-dialog td {
  font-size: 13px;
  display: inline-block;
}
.modal-dialog td:first-child {
  width: 112px;
  overflow: hidden;
  white-space: nowrap;
}
.modal-dialog .slick-slide:after {
  display: block;
  clear: both;
  content: '';
}
.modal-dialog .about {
  color: #7c7c7b;
}
.modal-dialog .tile-item:hover{
  text-decoration: none;
}
.modal-dialog .slick-list {
  width: 92%;
  margin-bottom: 15px;
}
.modal-dialog .slick-prev, .modal-dialog .slick-next {
  top: 38%;
  box-shadow: 0 0 45px 17px #fff;
}
.modal-dialog button.slick-prev {
  width: 50px;
  left: -50px;
}
.modal-dialog button.slick-next {
  right: 19px;
  width: 31px;
}
.modal-dialog button.slick-prev:before {
  background-image: url(../images/slider-arrow-red.png);
  transform: rotate(180deg);
  height: 73px;
  width: 40px;
}
.modal-dialog button.slick-next::before {
  background-image: url(../images/slider-arrow-red.png);
  height: 73px;
  width: 30px;
}
.modal-dialog button.slick-disabled {
  opacity: 0;
}
.modal-dialog .tile-item {
  overflow: hidden;
}
.modal-dialog .slick-slide {
  overflow: hidden;
  margin-right: 5px;
}
.modal-dialog .slick-slide.slick-active {
  
}

.modal-dialog .slick-track a {
  display: block;
  overflow: hidden;
}
.zoomer-wrap {
  display: block;
  height: 625px;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 75px;
}
.drift-demo-trigger-wrap {
  margin-bottom: 15px;
  position: relative;
}

.drift-demo-trigger {
  cursor: move;
  width: 100%;
}
.tab-content > .tab-pane {}
.wrapper {
  position: relative;
}

.modal-header .modal-title {
  width: 90%;
  overflow: hidden;
}
.modal-header .heart-red {
  position: static;
  float: left;
}
.modal-title span {
  float: left;
  margin-right: 20px;
}

/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane, .pill-content > .pill-pane {
    display: block!important;    /* undo display:none          */
    height: 0!important;         /* height:0 is also invisible */
    overflow: hidden!important;  /* no-overflow                */
}
.tab-content > .active, .pill-content > .active {
    height: auto!important;      /* let the content decide it  */
} /* bootstrap hack end */

.modal {
  display: block!important;
  height: 0!important;
  overflow: hidden;
}
.modal.in {
  height: auto!important;
}




/* Cart page style */
.re-call {
  background: #e6e7e8;
  margin-bottom: 120px;
  padding: 20px 0;
}
.container.re-call {
  max-width: 1450px;
}
.re-call h4 {
  margin-bottom: 5px;
}
.re-call p {
  font-size: 12px;
  margin-bottom: 30px;
}
.re-call label {
  display: block;
  width: 440px;
  padding: 10px 0;
  margin-bottom: 34px;
}
.re-call label input {
  float: right;
  padding: 10px 15px;
  width: 305px;
  border: 1px solid #c7d7e2;
  margin-top: -10px;
  border-top-color: #a3b3b9;
  box-shadow: 0 8px 22px -24px #000 inset;
}
.re-call button {
  background: #7c7c7b;
  padding: 12px 50px;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-left: 132px;
}
.cart-item {
  display: block;
  float: left;
  margin-bottom: 37px;
  width: 100%;
}
.cart-item div {
  float: left;
  letter-spacing: 0.6px;
}
.cart-item div:first-child {
  width: 111px;
}
.cart-item img {
  max-width: 100%;
  max-height: 150px;
  float: right;
}
.cart-item div:nth-child(2){
  width: 215px;
  padding-left: 14px;
}
.cart-item span {
  display: block;
  line-height: 1.5em;
}
.cart-item i {
  color: #e4042a;
  font-size: 12px;
  font-weight: bold;
}
.cart-item div:nth-child(3){
  width: 520px;
}
.cart-item input {
  float: left;
  width: 63px;
  border: 1px solid #9fc5dc;
  border-top-color: #83a8bc; 
  padding: 11px 5px;
  box-shadow: 0 8px 22px -24px #000 inset;
}
.cart strong {
  float: left;
  padding: 5px 3px;
  position: relative;
  font-size: 20px;
  margin-right: 10px;
  font-size: 29px;
}
.cart .discount {
  left: 3px;
  position: absolute;
  top: -15px;
  color: #e4042a;
  font-size: 11px;
  font-weight: bold;
  white-space: nowrap;
}
.cart-item p {
  float: left;
  padding: 14px 6px;
}
.cart-item sup {
  font-size: 11px;
}
.cart-item small {
  font-size: 12px;
  margin: 0 4px;
}
.cart-item .old-amount {
  margin: 14px 3px;
  display: inline-block;
  white-space: nowrap;
}
.cart-item .delate{
  display: block;
  width: 20px;
  height: 20px;
  margin-top: 7px;  
  background: url(../images/delate-product-cart.png)no-repeat;
}
.cart h2 {
  font-size: 23px;
  float: left;
  padding: 10px 15px 5px 3px;
  letter-spacing: 0.9px;
  margin-left: -26px;
}
.amount-wrap {
  margin-bottom: 85px;
}
.cart .more-btn {
  float: right;
  margin-right: 0;
  padding: 10px;
  border-radius: 3px;
  position: absolute;
  top: 115%;
  white-space: nowrap;
  right: 0;
}
.cart .old-amount {
  position: relative;
  overflow: hidden;
}
.cart svg {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    height: 90%;
    left: 0;
    position: absolute;
    width: 84%;
}

/* request delivery page style */
.delivery {
  
}
.delivery .col-md-3 {
    width: 145px;
}
.delivery .col-md-9 {
    width: 800px;
    margin-bottom: 30px;
}
.bread_crumbs {
  margin-bottom: 50px;
}
.bread_crumbs li {
  display: inline-block;
  padding-right: 28px;
  margin-right: 8px;
  background: url(../images/arrow-24.png) no-repeat right center;
}
.bread_crumbs li:last-child {
  background: none;
}
.bread_crumbs a {
  color: #e4042a;
}
.bread_crumbs a:hover {
  color: #000;
  text-decoration: none;
}
.bread_crumbs a.no-click {
  color: #77787b;
}
.delivery h3 {
  font-size: 18px;
}
.delivery label {
  display: block;
  width: 100%;
  padding-left: 30px;
  font-size: 18px;
  position: relative;
  margin-bottom: 20px;
}
.delivery label:before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #e8e8e8;
  border-radius: 20px;
}
.delivery label.active:after {
  display: block;
  content: '';
  position: absolute;
  left: 7px;
  top: 7px;
  width: 7px;
  height: 7px;
  border: 3px solid #bfbfbf;
  background: #7c7c7b;
  border-radius: 3px;
}
.delivery label small {
  font-size: 12px;
  padding-left: 10px;
}
.delivery input[type='text'] {
  border: 1px solid #c7d7e2;
  border-top-color: #a3b3b9;
  padding: 12px;
  box-shadow: 0 8px 38px -39px #000 inset;
  position: relative;
}
.delivery input[type='text']:invalid {
  border-color: #f00;
}
.delivery label.required:after {
  content: attr(data-content);
  display: block;
  color: #e4042a;
  font: 13px/1.2em arial;
  position: absolute;
  top: 110%;
  left: 0;
}
.delivery label.required {
  padding-left: 0;
}
.delivery label.required:before {
  content: none;
}
.delivery .address {
  width: 530px;
  margin-top: -12px;
}
.delivery .ask-distance-1 .jq-selectbox__select, .delivery .ask-distance-1 .jq-selectbox__dropdown {
  width: 350px;
}

.delivery .custom  {
  margin-top: -12px;
}
.custom .jq-selectbox__select-text {
  padding-left: 10px;
}
.custom .jq-selectbox__select-text:before {
  content: none;
}
.custom .jq-selectbox__dropdown li:before {
  content: none!important;
}
.custom .jq-selectbox__dropdown li {
  padding-left: 10px!important;
}
.ask-distance-2 input {
  text-align: right;
  width: 165px;
  margin-right: 10px
}
.ask-distance-2 span {
    font-size: 14px;
}
.ask-distance-2 b {
  font-size: 18px;
}
.ask-floor .jq-selectbox__select, .ask-floor .jq-selectbox__dropdown {
  width: 165px;
}
.ask-floor label:before {
  content: '';
}
.ask-floor label {
  padding-left: 0;
  margin-bottom: 0;
}
.ask-floor span {
  display: inline-block;
  margin-top: 15px;
  vertical-align: top;
}
.ask-floor .custom {
  margin-top: 0;
  margin-bottom: 12px;
}
.delivery .coast-delivery-wrap {
  background: #f2f2f2;
}
.delivery .coast-delivery-wrap {
  padding-top: 18px;
  padding-bottom: 18px;
  max-width: 1450px;
  margin-bottom: 50px;
}
.coast-delivery-wrap span {
  font-size: 24px;
  margin-left: -27px;
}
.coast-delivery-wrap .col-md-9 {
  margin: 0;
}
.coast-delivery-wrap i, .coast-delivery-wrap b {
  font-size: 30px;
}
.number-wrap input, .user-name-wrap input  {
  width: 165px;
  margin-top: -15px;
}
.user-comment-wrap textarea {
  border: 1px solid #c7d7e2;
  border-top-color: #a3b3b9;
  padding: 12px;
  box-shadow: 0 8px 38px -39px #000 inset;
  resize: none;
  width: 530px;
  height: 123px;
  margin-bottom: 20px;
}
.user-comment-wrap .more-btn {
  margin-left: 0;
  background: #ccc;
  border-color: #ccc;
  color: #fff;
}
.delivery .valid-red .jq-selectbox__select {
  border-color: #e4042a;
}




/* request-confirmation page style */
.confirmation {
  line-height: 1.5em;
}
.confirmation .row {
  margin-bottom: 12px;
}
.confirmation .cart-item div {
  display: block;
  float: left;
  overflow: hidden;
}
.confirmation .quantity {
  display: block;
  padding: 15px 7px;
}
.confirmation .cart-item div:nth-child(3) {
  width: 160px;
}
.cart-item div:nth-child(4) strong {
    display: block;
    font-size: 30px;
    padding: 5px 0;
}
.confirmation .result-cost {
  font-size: 23px;
}
.confirmation .result-cost strong {
  display: inline-block;
    font-size: 30px;
    padding-top: 10px;
}
.confirmation .more-btn {
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 100px;
  padding: 8px 43px;
  font-weight: normal;
}

/* News-list page */
.news-list li {
  margin-bottom: 30px;
  line-height: 1.5em;
  max-width: 866px;
}
.news-list a {
  color: #e4042a;
  font-weight: bold;
}
.news-list img {
  max-width: 400px;
}
.news-list a h2 {
  display: block;
  overflow: hidden;
}
.news-list a:hover {
  text-decoration: none;
  color: #000;
}
.news-list a:hover ~ h2 a {
  text-decoration: none;
  color: #000;
}
.news-list h2 {
  display: block;
  max-width: 500px;
}
.news-list h2 a {
  color: #e4042a;
  font-weight: bold;
}
.news-list span {
  font-style: italic;
  font-size: 12px;
}
.news-list .more-btn {
  margin-left: 0;
  color: #fff;
  margin-bottom: 33px;
  font-weight: normal;
}
.social-list {
  margin-bottom: 50px;
}
.social-list i {
  display: block;
  margin-bottom: 16px;
}
.social-list a {
  color: #7c7c7b;
  font-weight: normal;
  padding-left: 30px;
  position: relative;
  text-align: bottom;
}
.social-list li {
  float: left;
  display: inline-block;
  margin-right: 10px;
}
.social-list a:after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  background: url(../images/social-sprite.jpg) no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
}
.social-list .instagram:after {
  background-position: -32px 0;
}
.social-list .vk:after {
  background-position: -63px 0;
}
.social-list .houzz-ru:after {
  background-position: -94px 0;
}


/* news-item page */
.news-item .h1 {
  font-weight: normal;
  max-width: 800px;
}
.news-item p {
  margin-bottom: 16px;
  line-height: 1.5em;
}
.news-item img {
  margin-bottom: 16px;
  max-width: 850px;
}
.news-content {
  margin-bottom: 70px;
}
.news-item .back-link {
  color: #e4042a;
  display: block;
  margin-bottom: 47px;
}
.news-item a.link, .news-item a.link:focus{
  color: #e4042a;
}
.news-item a:hover {
  text-decoration: none;
  color: #000;
}

.pos-r {
  position: relative;
}
.news-item ul {
  margin-bottom: 20px;
}
.news-item li {
  margin-left: 20px;
  line-height: 1.5em;
}
.news-item .pos-r {
  max-width: 830px;
  max-height: 830px;
  margin-bottom: 30px;
}
.news-item .pos-r span {
  bottom: -4px;
  position: absolute;
  right: 12px;
  font-size: 14px;
  font-style: italic;
}
.news-item .social-list {
  margin-bottom: 20px;
}
.news-item .social-list li {
  float: none;
  display: block;
  margin-left: 0;
  margin-bottom: 12px;
}
.details {
  margin-bottom: 20px;
}
.details strong {
  font-weight: bold;
  display: block;
  margin-bottom: 15px;
}
.details p {
  margin-bottom: 10px;
}
.details span {
  margin-bottom: 20px;
  display: block;
}
.news-item .no-mar {
  margin: 0;
  margin-bottom: 4px;
}