@media (max-width: 1100px) {
  .fix-input {
    width: 93.8%; } }

@media (max-width: 1200px) {
  .fix-input {
    width: 94.8%; } }

@media (max-width: 1300px) {
  .fix-input {
    width: 94.8%; } }

@media (max-width: 1400px) {
  .fix-input {
    width: 94.8%; } }
